<h2>Sign up</h2>
<form action="<%= users_url %>" METHOD="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <table>
    <tr>
      <td>Email: </td>
      <td><input type="text" id="get_email" name="user[email]"></td>
    </tr>
    <tr>
      <td>Password: </td>
      <td><input type="password" id="get_password" name="user[password]"></td>
    </td>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Create account"></td>
    </td>
  </table>
</form>
