<h1>Log In</h1>
<form action="<%= session_url %>" METHOD="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="get_email">Email:
    <input type="text" id="get_email" name="user[email]">
    </label><br>
  <label for="get_password">Email:
    <input type="text" id="get_password" name="user[password]">
    </label>
  <input type="submit" value="Log In">
</form>
