@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow ');
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: 'Archivo Narrow ';
   font-size: 14px;

    background-color: lightyellow;
 }
h1, h2, h3, h4 {
  font-family: 'Playfair Display';
  color: grey;
}
h1 {
    font-size: 40px;
    color: plum;
    float: left;
    display: inline-block;
    height: 40px;
    padding: 25px;
    margin: 0;
  }
  h2 {
    font-size: 24px;
    flex: baseline;
  }
  h4 {
    font-size: 16px;
    flex: baseline;
  }

  .user {
    display: inline-block;
    float: right;
  }
hr {
  clear: both;
}
